body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    text-align: center;
}
h1{
    font-size: 2em;
}
#game-board{
    display: grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
    margin:10px auto;
}
.cell{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border:20px solid #c71212;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#status {
    font-size: 1.5em;
    margin-top: 20px;
}

